---
---

@import "minima";

/* @import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap'); */
body {
    font-family: 'Segoe UI', 'Helvetica', 'Arial', sans-serif;
    color: #383838;
}

.wrapper {
	max-width: calc(1200px - (30px * 2));
	padding-right: 30px;
	padding-left: 30px;
}